:root {
  /*--primary-color: #1b3039;*/
  --primary-color: #009efa;
  --bg-color: #f5f5f5;
  --light-bg-color: #fff;
  --text-color: #191d28;
  --light-text-color: #cdccd1;
  --primary-text-color: #fff;
  --footer-background-color: #99DB10;
  --footer-heading-color: #072554;
  --footer-link-color: #072554;
  --footer-link-hover-color: #c8b568;
  --section-padding: 100px;
  --card-clr: #191d28;
	--body-clr: #191d28;
	--primary-clr: #ffffff;
	--heading-clr: #dadada;
	--text-clr: #767a86;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.dark {
  --bg-color: #111116;
  --light-bg-color: #1c1b20;
  --text-color: #fff;
  --light-text-color: #58575c;
}
  
.menu{
  background-color: white;
  color: #fff;
  height: 70px;
  z-index: 200;
  position: relative;
}
.menu .logo{
  cursor: pointer;
  margin-right: auto;
}

.menu .logo img{
  height: 80px;
  width: auto;
  transition: all 0.3s;
}

.menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  /*z-index: 20;*/
}

.menu__links{
  height: 100%;
  transition: transform .5s;
  display: flex;
  z-index: 25;
}

.menu__item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover{
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link{
  color: var(--primary-color);
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--footer-background-color);
  /*animacion de derecha a izquierda*/
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.menu__link:hover::after{
  /*animacion de derecha a izquierda*/
  transform-origin: left;
  transform: scaleX(1);
}


.menu__arrow{
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;
}

.menu__nesting{
  list-style: none;
  transition:clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: white;
  border-radius: 10px;
  
  z-index: 20;
}

.menu__link--inside{
  padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
  background-color: #fdfdfd;

}

.menu__hamburguer{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
  z-index: 20;
}

.menu__img{
  display: block;
  width: 36px;
}

@media (max-width:800px){
  .menu__hamburguer{
      display: flex;
      z-index: 20;
  }

  .menu__item{
      --clip:0;
      overflow:hidden ;
  }

  .menu__item--active{
      --transform: rotate(0);
      --background: #fbfbfb;
  }

  .menu__item--show{
      background-color: #fdfdfd;
  }


  .menu__links{
      position: fixed;
      max-width: 400px;
      width: 100%;
      top: 70px;
      bottom: 0;
      right: 0;
      background-color: #fdfdfd;
      overflow-y: auto;
      display: grid;
      grid-auto-rows: max-content;
      transform: translateX(100%);
  }

  .menu__links--show{
      transform: unset;
      width: 100%;
  }

  .menu__link{
      padding: 25px 0;
      padding-left: 30px;
      height: auto;
  }

  .menu__arrow{
      margin-left: auto;
      margin-right: 20px;
  }

  .menu__nesting{
      display: grid;
      position: unset;
      width: 100%;
      transform: translateY(0);
      height: 0;
      transition: height .3s;
      background: #fdfdfd;
  }

  .menu__link--inside{
      width: 90%;
      margin-left: auto;
      border-left: 1px solid #798499;
      background: #fdfdfd;
  }
}

.texto{
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  font-size: 9px;
  color: #009FFC;
  padding-top: 30px;
  position: relative;
  top: -30px;
}

.todo{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -100px;
}
.container {
  position: relative;
  display: flex;
  width: 1200px;
  padding: 0 20px;
  gap: 15px;
}
.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
}

.cardo1{
 position: relative;
 left: -50px;
 top: 60px;
}

.cardo2{
  position: relative;
  right: -50px;
  top: 60px;
}

.container .card .from,
.container .card .to {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .card .from {
  margin-right: 20px;
}
.container .card .to {
  margin-left: 20px;
}
.container .card .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-text-color);
  white-space: nowrap;
}
.dropdown-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.dropdown-container .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: #fbfbfb;
  cursor: pointer;
  transition: all 0.3s;
}
.dropdown-container .dropdown-toggle span {
  flex: 1;
  margin-left: 10px;
}
.dropdown-container .dropdown-toggle ion-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}
.dropdown-container.active .dropdown-toggle {
  border-radius: 20px 20px 0 0;
}
.dropdown-container.active .dropdown-toggle ion-icon:last-child {
  transform: rotate(180deg);
}
.dropdown-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  display: none;
  padding: 20px;
  z-index: 1;
  list-style: none;
  flex-direction: column;
  background-color: #fbfbfb;
  transition: all 1s;
  border-radius: 0 0 20px 20px;
}
.dropdown-container .dropdown-menu::-webkit-scrollbar {
  display: none;
}
.dropdown-container.active .dropdown-menu {
  display: flex;
}

.dropdown-container .dropdown-menu li {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--light-bg-color);
  transition: all 0.3s ease;
}
.dropdown-container .dropdown-menu li:hover {
  background-color: var(--light-bg-color);
}
.dropdown-container .dropdown-menu li.active {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.container .text-area {
  position: relative;
}
.container textarea {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.container .text-area .chars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--light-text-color);
}
.container .center {
  position: relative;
  z-index: 300;
}
.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s ease;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.swap-position ion-icon {
  font-size: 25px;
}
.swap-position:hover {
  transform: translateX(-50%) scale(1.1);
}
.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid var(--bg-color);
}
.card-bottom p {
  margin-bottom: 20px;
}
.card-bottom label {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--bg-color);
}
.card-bottom label:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.card-bottom span {
  font-size: 12px;
  pointer-events: none;
}
.card-bottom ion-icon {
  font-size: 20px;
}

.card-bottom button {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--bg-color);
}
.card-bottom button:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.toggle {
  position: relative;
  cursor: pointer;
}
.toggle-track {
  width: 24px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3px 0;
  justify-content: space-between;
  border: 1px solid var(--light-text-color);
  background-color: var(--light-bg-color);
  transition: all 0.2s ease;
}
.toggle-checkbox {
  display: none;
}
.toggle-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.5s;
}
.toggle input:checked ~ .toggle-thumb {
  transform: translateY(25px);
}
.toggle img {
  width: 20px;
  height: 20px;
}

/*--FOOTER--*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.containerero {
  max-width: 1120px;
  padding: 0 32px;
  margin: 0 auto;
}

.logo2 {
  height: 80px;
}

.footer {
  padding: 128px 0;
  border-top: 1px solid #eee;
  background-color: var(--light-bg-color);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 96px;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 32px;
  width: 100px;
}

.social-links {
  display: flex;
  gap: 24px;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.social-icon:hover {
  color: var(--footer-link-hover-color);
}

.copyright {
  font-size: 14px;
  line-height: 1.6;
  color: var(--footer-link-color);
  margin-top: auto;
}

.footer-heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  color: var(--footer-heading-color);
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.address {
  margin-bottom: 24px;
  color: var(--footer-link-color);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 16px;
  color: var(--footer-link-color);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  text-decoration: underline;
}


/* ============= BELOW 752px =========== */

@media (max-width: 47em) {
  .footer-wrapper {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 32px;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .social-links {
    gap: 16px;
    margin-bottom: 16px;
  }

  .social-icon {
    height: 20px;
    width: 20px;
  }
}


/* media quiries */
@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .container .card {
    width: 100%;
  }
  .container .card .from {
    margin-right: 0;
  }
  .container .card .to {
    margin-left: 0;
  }
  .container .card .from,
  .container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .swap-position ion-icon {
    transform: rotate(90deg);
  }
}

/* Estilos base */
.infor {
  width: 100%;
  height: 400px;
  background-color: var(--primary-text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.infor h1 {
  font-size: 35px;
  color: #009efa;
  padding: 20px;
}

.dates {
  width: 100%;
  max-width: 1000px; /* Ajusta el ancho máximo según el diseño */
  margin: 0 auto; /* Centra horizontalmente */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dates img {
  width: 130px;
  padding: 20px;
}

.dates p {
  font-size: 18px;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 1200px) {
  .dates img {
    width: 120px;
  }
}

@media screen and (max-width: 992px) {
  .infor {
    height: auto;
  }

  .infor h1 {
    font-size: 28px;
  }

  .dates img {
    width: 100px;
    padding: 10px;
  }

  .dates p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .dates {
    flex-direction: column;
    align-items: center;
  }

  .dates img {
    width: 80px;
    padding: 10px;
  }

  .dates p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .infor h1 {
    font-size: 24px;
  }

  .dates img {
    width: 60px;
    padding: 5px;
  }

  .dates p {
    font-size: 12px;
  }
}

.logo3{
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
  color: #009efa;
  font-size: 18px;
}

.logo3 img{
  width: 250px;
}

/*Opiniones* 
.opinion{
  width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
}
.testimonials-section{
	width: 100%;
	padding: 0px 8%;
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.section-header h1{
	position: relative;
	font-size: 36px;
	color: var(--primary-clr);
}
.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	background-color: var(--primary-text-color);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
  border: solid 2px var(--primary-text-color);
  border-radius: 20px;
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: var(--heading-clr);
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: var(--footer-background-color);
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-clr);
}
.test-card-body .ratings{
	margin-top: 20px;
}
.test-card-body .ratings i{
	font-size: 17px;
	color: var(--primary-clr);
	cursor: pointer;
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-clr);
}
.profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--text-clr);
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
	border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px !important;
	border-radius: 50%;
	font-size: 18px !important;
	background-color: var(--card-clr) !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: var(--primary-clr) !important;
	color: #e9e9e9;
}
.owl-dots{
	margin-top: 15px;
}
.owl-dots .owl-dot span{
	background-color: #434753 !important;
	padding: 6px !important;
}
.owl-dot.active span{
	background-color: var(--primary-clr) !important;
}*/

/*API*/
.contenedor{
  width: 100%;
  overflow: hidden;
}

.slider-contenedor{
  width: 100%;
  display: flex;
}

.contenido-slider{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido-slider:nth-child(2){
  background: white;
  color: black;
}

.contenido-slider:nth-child(3){
  background: #222831;
  color: white;
}

.contenido-slider > img{
  width: 400px;
}

.contenido-slider > div{
  width: 40%;
}

.contenido-slider h2{
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.contenido-slider a{
  color: #fff;
  background: #332863;
  width: 100px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
}

.contenido-slider:nth-child(2) a{
  background: #fff;
  color: #332863;
  
}

@media screen and (max-width:900px){
  .contenido-slider > img{
      width: 250px;
  }

  .contenido-slider > div{
      width: 40%;
  }

  .contenido-slider h2{
      font-size: 23px;
  }
}


@media screen and (max-width:600px){
  .contenido-slider{
     flex-direction: column-reverse;
  }

  .contenido-slider > div{
      width: 80%;
  }

}
.inner { padding-block-start: calc(var(--section-padding) + 60px); 
  background-color: white;
  padding-bottom: 100px;
}



.headerr{
  text-align: center;
  color: #111116;
  padding: 1rem;
  position: relative;
  font-size: 13px;
}

.container3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;  
  font-size: 1.2rem;
}

.skill-box{
  padding: 1rem;
  color: #111116;
  cursor: pointer;
}

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.imagen{
  width: 90px;
  height: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-title h3{
  color: #1b3039;
  margin: 0.5rem;
}

.skill-icon{
  width: 50px;
}

@media screen and (max-width: 990px){
  .container3{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50pxf;
  } 
  
}

.banner-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container .banner{
  background:linear-gradient(-55deg, #202020 29%, #111116 29.1%, #202020 68%, #111116 68.1%);
  border-radius: 5px;
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  overflow: hidden;
}

.banner-container .banner .shoe{
  flex:1 1 250px;
  padding:15px;
  text-align: center;
}

.banner-container .banner .shoe img{
  width:80%;
}

.banner-container .banner .content{
  flex:1 1 250px;
  text-align: center;
  padding:10px;
  text-transform: uppercase;
}

.banner-container .banner .content span{
  color:#eee;
  font-size: 25px;
}

.banner-container .banner .content h3{
  color:#fff;
  font-size: 40px;
}

.banner-container .banner .content p{
  color:#eee;
  font-size: 20px;
  padding:10px 0;
}

.banner-container .banner .content .btn{
  display: block;
  height:40px;
  width:150px;
  line-height: 40px;
  background: #fff;
  color:#111116;
  margin:5px auto;
  text-decoration: none;
}

.banner-container .banner .women{
  position: relative;
  bottom: -33px;
  padding:10px;
  flex:1 1 250px;
}

.banner-container .banner .women img{
  width:100%;
}

@media (max-width:768px){
  .banner-container .banner .women{
      display: none;
  }
}

.trabajando{
  background-color: white;
}

.error{
  padding-top: 150px;
}
